.gallery-page {
    padding: 20px;
    padding-top: 80px;
}
.coner{
    text-align: center;
    background-color: #e3ded3;
    font-family: "TrajanProBold";
    padding: 10px;
    /* padding-bottom: 50px; */
    margin-bottom: 30px
}
.coner h1 {
    font-size: 24px;
    font-weight: bold;
    /* padding-bottom: -5px; */
    margin-bottom: 15px;
}
.coner h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'TrajanProRegular';
    /* padding-bottom: -5px; */
    margin-bottom: 15px;
    /* padding-bottom: -5px; */
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.gallery-item {
    position: relative;
} 

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(55, 37, 33, 0.81);
    color: #fff;
    padding: 0;
    border-radius: 5px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.image-overlay h3,
.image-overlay p {
    margin: 0;
    text-align: center;
}

.gallery-item:hover .image-overlay {
    opacity: 1;
}

@media (max-width: 768px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .gallery-container {
        grid-template-columns: 1fr;
    }
}