.main-cont {
  /* position: relative; */
  margin-top: 120px;

}

.room-cont {}

.room {
  width: 55%;
  display: flex;
  /* flex-wrap:wrap; */
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  /* margin-left: 80px; */
}

.room img {
  max-width: 60%;
  /* margin: 0 auto; */
  margin-left: 10px;
}

.con {
  /* padding-left: 30px; */

}

.con h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 36px;
  padding-left: -10px;
}

.con p {
    padding-left: 20px;

}

.con h4 {
  margin-bottom: 0;
  /* margin :0 auto */
}

@media (max-width: 768px) {
  .room {
    width: 98%;
    margin: 0 auto;
    padding: 5px;
  }

  .room img {
    width: 60%;
    margin-left: 0;

  }

  .con h2 {
    font-size: 24px;
    padding-left: 10px;

  }
}