.navbar {
    /* font-family: ; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 10px; */
    padding: 20px;
    margin-right: -15px;
    background-color: rgba(55, 37, 33, 0.81);
    color: #ffff;
    z-index: 9;
    border-top: 10px solid #a8934172;
    font-family: 'Kanit', sans-serif;
}
.data{
    border-radius: 20px;
    width: 100%;
    margin-right: -68px;
    /* margin-top: -2px; */
  }

.logo {
    font-size: 28px;
    font-weight: bold;
}

.logo img {
    height: 35px;
    width: 35px;
}

.nav-links {
    margin: 0;
    margin-right: 110px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    font-size: 16px;
    /* padding-right: -50px; */
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-size: 14px; */
}

.mobile-menu-icon {
    display: none;
    flex-direction: column;
    margin-right: 15px;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.mobile-menu-icon span {
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}

.nav-links.open {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav-links.open li {
    margin-left: 0;
    margin-bottom: 10px;
}

.dropdown {
    position: relative;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333333b4;
    display: none;
    padding: 10px;
    min-width: 200px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    margin-bottom: 10px;
    list-style: none;
}

.dropdown-menu a {
    color: #ffffff;
    text-decoration: none;
}

.overlay-image-1 {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    padding-left: 10px;
    /* max-height: 100%; */
    height: 120px;
}

.overlay-image-2 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 10px;
    padding-right: -8px;
    /* max-height: 100%; */
    height: 80px;
}

.contnr {
    position: relative;
    z-index: 9999;

}

.mobile-menu-icon.open span:first-child {
    transform: translateY(7px) rotate(45deg);
}

.mobile-menu-icon.open span:nth-child(2) {
    opacity: 0;
}

.mobile-menu-icon.open span:last-child {
    transform: translateY(-7px) rotate(-45deg);
}

@media (max-width: 768px) {
   
    .nav-links {
        display: none;
    }

    .mobile-menu-icon {
        display: flex;
        margin-right: 60px;
    }
    .overlay-image-1{
        height: 90px;
        width: 80px;
    }
    .overlay-image-2{
        height: 80px;
        width: 120px;
    }
}