.footer {
  background-color: #462f2bee;
  color: #a59667;
  padding: 7px ;
}

.container2 {
  max-width: 1000px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.footer-column {
  width: 100%;
  margin-bottom: 30px;
}

.footer-column  h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  /* color: #fff; */
}

/* .footer-column p {
  margin-bottom: 10px;
} */

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #a59667;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #f5c03e;
}

.subscribe-form {
  display: flex;
}

.subscribe-form input {
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  border-radius: 12px;

}

.subscribe-form button {
  background-color: #f5c03e;
  color: #232323;
  border: none;
  border-radius: 40px;
  padding: 10px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe-form button:hover {
  background-color: #ffdc73;
}

.social-icons {
  display: flex;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons li a {
  color: #fff;
  font-size: 18px;
  transition: color 0.3s ease;
}

.social-icons li a:hover {
  color: #f5c03e;
}

.footer-bottom {
  margin-top: 30px;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .container2 {
    width: 80%
  }

  .footer-content {
    /* display: flex; */
    flex-direction: column;
    flex-wrap: wrap;
  }

}