footer {
  background-color: #462f2bee;
  color: #a59667;
  padding: 50px 0;
  /* padding-bottom: -20px; */
}

.container2 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /* margin: 0 auto; */
  /* margin-left: 100px; */
  /* flex-direction: row-reverse; */
}

.col {
  /* width: 25%; */
  margin-bottom: 30px;
}

.co-2 {
  margin-right: -250px;
  margin-left: -100px;
  width: 20%;
  /* float: right; */
}


.col h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.col ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.col ul li {
  margin-bottom: 10px;
}

.col ul li a {
  color: #a59667;
  text-decoration: none;
}

.col ul li a:hover {
  text-decoration: underline;
}

form input[type="phoneValue"] {
  /* width: 250px; */
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
}

form button[type="submit"] {
  display: block;
  width: auto;
  padding: 10px;
  background-color: #a59667;
  color: rgb(244, 244, 244);
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

form button[type="submit"]:hover {
  background-color: #ab9c6e;
}

/* Responsive Styles */
/* @media only screen and (max-width: 767px) {
    .col {
      width: 50%;
    }
  
    form input[type="email"] {
      width: calc(100% - 20px);
    }
  
    form button[type="submit"] {
      width: calc(100% - 20px);
    }
  } */

@media only screen and (max-width: 767px) {
  .row {
    margin-right: 0;
    margin: 0 auto;
  margin-right: -150px;
  }

  .co-2 {

    width: 20%;
    float: right;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
  }

  * {
    font-size: 14px;
  }

  .col {
    min-width: fit-content;
  }

  form input[type="phoneValue"] {
    width: calc(100%);


  }

  form button[type="submit"] {
    width: 100%;
  }
}

@media only screen and (max-width:430px) {
  .row {
    margin-right: 0;
    /* margin: 0 auto; */
  /* margin-right: -150px; */
  }

  .co-2 {
    /* width: 20%; */
    float: right;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
  }

  * {
    font-size: 14px;
    /* background-color: #e67e22; */
  }

  .col {
    min-width: 70%;
  }

  form input[type="phoneValue"] {
    width: 70%;
  }

  form button[type="submit"] {
    width: 50%;
  }

}